<ion-card>
  <img
    width="500"
    height="250"
    [alt]="productData().description"
    [src]="productData().imageUrl"
  />
  <ion-card-header>
    <ion-card-title>
      {{ productData().title }}
      <ion-button id="open-modal" color="danger">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-card-title>
    <ion-card-subtitle>{{ productData().category }}</ion-card-subtitle>
    <ion-card-subtitle>{{
      productData().price | currency : "BRL"
    }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{ productData().description }}
  </ion-card-content>
</ion-card>

<ion-modal #modal trigger="open-modal">
  <ng-template>
    <ion-content>
      <ion-toolbar>
        <ion-title>Tem certeza?</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <div class="ion-padding">
        <p>Tem certeza que deseja excluir?</p>
        <div class="buttons-box">
          <ion-button (click)="modal.dismiss()"> Cancelar </ion-button>
          <ion-button
            (click)="handleDeleteProduct(); modal.dismiss()"
            color="danger"
          >
            Sim
          </ion-button>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
