<ion-card>
  <img
    width="500"
    height="250"
    [alt]="productData().description"
    [src]="productData().imageUrl"
  />
  <ion-card-header>
    <ion-card-title>
      {{ productData().title }}
      <ion-button color="danger" (click)="handleDeleteProduct()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-card-title>
    <ion-card-subtitle>{{ productData().category }}</ion-card-subtitle>
    <ion-card-subtitle>{{
      productData().price | currency : "BRL"
    }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{ productData().description }}
  </ion-card-content>
</ion-card>
