<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">list</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>{{ productCounterMessage() }}</p>

  <ion-list>
    @if(isLoading() === true) { @for(i of minSkeletonOnScreen(); track i) {
    <app-product-card-skeleton />
    } } @else if (!products().length) {
    <div class="empty-list-message">
      <span>Nenhum produto encontrado!</span>
    </div>
    } @else { @for (product of products(); track product.id) {
    <app-product-card
      [productData]="product"
      (deleteProduct)="confirmDeleteProduct(product.id)"
    />
    } }
    <ion-infinite-scroll
      [disabled]="disableInfintScroll()"
      (ionInfinite)="loadProducts($event)"
    >
      <ion-infinite-scroll-content
        loadingText="Please wait..."
        loadingSpinner="bubbles"
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="handleAddProduct()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
