#container {
  position: relative;
}

ion-img {
  object-fit: fill;
  height: 210px;
  width: 100%;
}

ion-card {
  position: relative;
  transform: translate(0, -50%);
}

ion-card-content {
  display: flex;
  align-items: center;
  gap: 16px;
  color: white;
}

.buttons-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  transform: translate(0, -50%);
}
