<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar produto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="handleCloseModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Novo produto:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form
        id="product-form"
        [formGroup]="productForm"
        (ngSubmit)="handleSubmit($event)"
      >
        <ion-item>
          <ion-input
            label="Nome do produto"
            labelPlacement="floating"
            placeholder="Mouse sem fio"
            required="true"
            formControlName="title"
            id="title"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-select
            formControlName="category"
            id="category"
            label="Selecione a categoria"
            placeholder="Categoria"
          >
            <ion-select-option value="Eletrônico">Eletrônico</ion-select-option>
            <ion-select-option value="Decorativo">Decorativo</ion-select-option>
            <ion-select-option value="Mostruário">Mostruário</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input
            label="Preço"
            labelPlacement="floating"
            placeholder="20.00"
            type="number"
            required="true"
            formControlName="price"
            id="price"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Descrição"
            labelPlacement="floating"
            placeholder="Mouse sem fio da logitech"
            required="true"
            formControlName="description"
            id="description"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Endereço da imagem"
            labelPlacement="floating"
            placeholder="https://www.logitech.com/mouse.png"
            required="true"
            formControlName="imageUrl"
            id="imageUrl"
          ></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="button-box ion-padding">
      <ion-button (click)="handleClearForm()" fill="clear">Limpar</ion-button>
      <ion-button
        [disabled]="!checkIfFormIsValid()"
        form="product-form"
        type="submit"
        >Adicionar</ion-button
      >
    </div>
  </ion-toolbar>
</ion-footer>
